*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav ul li{
  padding: 15px;
}

.nav ul li a{
  text-decoration: none;
  color: white;
}

.banner{
  margin: 50px 10px 20px 10px;
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 2em;
}

.resume{
  width: 45%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn-primary{
  width: 150px;
  background-color: #ff6464;
  color: #ffff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 15px 25px red;
  animation-name: boton-volador;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes boton-volador{
  from{
    margin-left: 100%;
  }
  to{
    margin-left: -0.7%;
  }
}

.btn-primary:hover{
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.profile{
  border-radius: 50%;
}

.title-section{
  margin-left: 20rem;
  font-size: 30px;
}
.card{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.card div{
  margin-left: 30px;
}

.card div img{
  width: 20rem;
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 15px 25px;
}

.card div img:hover{
  box-shadow: 0 25px 30px red;
}
